.xOfYCallsignInNumbers {
    display: flex;
    flex-direction: row;
}

.xOfYCallsignInNumbers > p {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;

    margin-right: 0.8rem;

    color: var(--purple);
}

.xOfYCallsignInNumbers span {
    display: flex;
    place-items: center;

    padding: 0.2rem 0.8rem;

    color: var(--gray-200);

    border-radius: 999px;
    background-color: var(--gray-500);
}

.xOfYCallsignInNumbers span p {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;

    color: var(--gray-200);
}