.background {
    width: 100vw;
    height: 19.53vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--gray-700);
}

.background img {
    width: 2.2rem;
    height: 3.6rem;
    margin-right: 1.2rem;
}

.background p {
    font-weight: 900;
    font-size: 4rem;
}

.to {
    color: var(--purple);
}

.do {
    color: var(--blue-dark);
}