.background {
    width: 100vw;
    height: 19.53vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--gray-700);
}

.rocketAndToDo {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin-bottom: calc(5.5rem - 2.7rem);
}

.rocketAndToDo img {
    width: 2.2rem;
    height: 3.6rem;
    margin-right: 1.2rem;
}

.rocketAndToDo p {
    font-weight: 900;
    font-size: 4rem;
}

.to {
    color: var(--purple);
}

.do {
    color: var(--blue-dark);
}