.container {
    display: grid;
    grid-template-areas: ". main main .";

    align-items: center;
    justify-items: center;

    /* background-color: purple; */
}

.main {
    grid-area: main;
    /* background-color: red; */
    width: 100%;
}

.taskForm {
    display: flex;
    flex-direction: row;

    margin: -2.7rem 0 6.5rem;

    align-items: center;
}

.taskForm input {
    margin-right: 0.8rem;
}