.tasksInfo {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-bottom: 2.4rem;
}

.emptyToDoList {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.emptyToDoList img {
    width: 5.6rem;
    height: 5.6rem;

    margin: 6.4rem 0 1.6rem;
}

.noTasksText {
    color: var(--gray-300);
    font-size: 1.6rem;
}